<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex flex-row place-content-evenly max-w-[350px]">
      <a href="home" class="text-blue-500 cursor-pointer border">home page</a>
      <a href="about" class="text-blue-500 cursor-pointer border">about page</a>
      <a href="contact" class="text-blue-500 cursor-pointer border">cotact page</a>
      <a href="form" class="text-blue-500 cursor-pointer border">form page</a>
    </div>
  </body>
</html>
